.footer {
  height: 200px;
  background-color: rgb(100, 100, 110);
  font-family: "Mukta-Mahee", sans-serif;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

.footerItems {
  margin: 20px;
  cursor: pointer;
}
.footerItems:hover {
  text-decoration: underline black 2px;
}

i {
  padding: 10px;
  cursor: pointer;
}
.footerMidSection {
  text-align: center;
}
.beautyFooter {
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
}

.footerAt {
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .footer {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    height: 170px;
  }
  .footerFirstSection {
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin: 0px;
  }
  .beautyFooter {
    font-size: 15px;
  }
}
