.footer {
  height: 200px;
  background-color: rgb(100, 100, 110);
  font-family: "Mukta-Mahee", sans-serif;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

.footerItems {
  margin: 20px;
  cursor: pointer;
}
.footerItems:hover {
  text-decoration: underline black 2px;
}

i {
  padding: 10px;
  cursor: pointer;
}
