.LP-Container {
  height: 600px;
  background-color: #f6f6f6;
  font-family: "Mukta Mahee", sans-serif;
  color: #6a93b0;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  max-width: 750px;
}

.quote {
  font-size: 60px;
  font-family: "Baskerville";
  font-weight: 800;
  margin-bottom: 20px;
  align-self: flex-start;
}
.subtitle {
  font-size: 25px;
  font-family: "Baskerville";
  font-weight: lighter;
}

#beautyImg {
  height: 450px;
}
