.LP-Container {
  height: 600px;
  background-color: #f6f6f6;
  font-family: "Mukta Mahee", sans-serif;
  color: #6a93b0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.content {
  text-align: center;
  max-width: 1000px;
}

.quote {
  font-size: 60px;
  font-family: "Baskerville";
  font-weight: 800;
  margin-bottom: 20px;
}
.subtitle {
  font-size: 25px;
  font-family: "Baskerville";
  font-weight: lighter;
}
