.Container {
  margin: 0;
  padding: 0;
  background-color: #6a93b0;
  height: 80px;
  font-family: "Mukta Mahee", sans-serif;
  color: #f6f6f6;
  font-size: 20px;
  position: sticky;
}

.Nav {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}

.Menu {
  display: flex;
}
.beauty {
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
}

.menu-items {
  padding: 15px;
  cursor: pointer;
}
.menu-items:hover {
  transform: scale(1.1);
  text-decoration: underline #f6f6f6 3.5px;
}

.shop-btn {
  background-color: #6a93b0;
  color: #f6f6f6;
  font-size: 20px;
  padding: 10px 15px;
  box-shadow: none;
  border: 2px solid #f6f6f6;
  border-radius: 15px;
  cursor: pointer;
}
