.commentBody {
  height: 100px;
  background-color: rgb(171, 171, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
  font-size: 18px;
}
.comment {
  font-size: 30px;
  font-family: "Baskerville";
  color: #f6f6f6;
  font-style: italic;
  text-align: center;
  margin: 0px 20px;
}

.author {
  font-family: Baskerville;
}

@media screen and (max-width: 600px) {
  .commentBody {
    width: 100%;
    font-size: 12px;
    height: 75px;
  }
  .comment {
    font-size: 18px;
  }
} ;
