* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mukta-Mahee", sans-serif;
  overscroll-behavior: none;
}
.aboutUs {
  height: 750px;
  background-color: #f6f6f6;
  color: #6a93b0;
  font-family: "Mukta-Mahee", sans-serif;
  padding: 100px 30px;
}
.aboutTitle {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.aboutDescription {
  font-size: 20px;
  line-height: 1.8;
  text-align: justify;
  margin: 40px 100px;
  color: black;
}

.team {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .aboutUs {
    padding: 80px 50px;
    height: 700px;
  }
  .aboutTitle {
    font-size: 30px;
    text-align: left;
    padding-bottom: 20px;
  }
  .aboutDescription {
    font-size: 15px;
    text-align: justify;
    padding-bottom: 20px;
    margin: 0;
  }
}
